$mainColor: whitesmoke;
$burgerHover: black;
$mobileNavigationBg: grey;
$text: #4a4a4a;
$secondColor: #aec6cf;
// $navigation: #cfcfff;
$thirdColor: #d2e3ed;
$pink: #ffb6c1;
$yellow: #fffacd;
$third: #cfe3d8;
$navigation: #d2e3ed;

$logo: #1a9cad;
$pink: #ffb6c1;
